.nav{
    height: 60px;
    line-height: 60px;
}
.link{
    font-size: 20px;
    font-weight: 400;
    
}
.containerLink{
    display: flex;
    justify-content:space-around;
}
.containerIcon{
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    z-index: 1;
}
.icon{
    line-height: 60px;
    font-size: 20px;
    padding: 0 16px;
}

.icon:hover{
    cursor: pointer;
    
}
.logo{
    height: 60px;
}
.noti{
    width: 300px;
}

